body{
 background-color: ;
 background-size: cover;
 border-width: medium;
 text-align: center;
    }

 .Logo{
   margin: auto;
   width: rgba(255, 255, 255, 255); 16px ;
   background-size: auto;
   border-right-width: medium;
   align-items: baseline;
   background-position: center;
      }

 .Sald1{
 text-align: center;
   }
   #Estiloh{
     text-align:center;
     background-color:#7DCEA0;
           }
   #Estilop{
     text-align: justify;
     text-decoration-color:#B3B6B7 ;

           }
   
